<h1><%= t('mail_title') %></h1>
<p>
  <%= params['name'] %>, <%= params['email'] %>
  <br>
  <%= t('email_phone') %>: <%= params['phone'] %>
</p>
<p>
  <% if params['message'].present? %>
    <%= params['message'].gsub(%r{(\r\n|\n|\r)}, '<br>') %>
  <% end %>
</p>